<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      td.hide {
        display: none;
      }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <h1>할 일 목록</h1>
    <div>
      <form action="/todoList" method="post">
        <input type="text" value="할 일" name="newItem" />
        <input type="submit" value="저장" />
      </form>
    </div>
    <table width="100%">
      <tr>
        <th width="10%">번호</th>
        <th width="10%">체크</th>
        <th width="60%">할 일</th>
        <th width="10%">삭제</th>
        <th width="10%">수정</th>
      </tr>
      <% for(var todo of todoList){ %>
      <tr>
        <td><%=todo.idx%></td>
        <td><input type="checkbox" /></td>
        <td class="show"><%=todo.title%></td>
        <td class="hide"><input value="<%=todo.title%>" /><%=todo.title%></td>
        <td><button class="delete">삭제</button></td>
        <td><button class="modify" data-idx="<%=todo.itdx%>">수정</button></td>
      </tr>
      <% } %>
    </table>
    <script>
      $("button.modify").click(function () {
        const row = $(this).parent().parent();
        if (row.find("td.show").css("display") !== "none") {
          row.find("td.show").hide();
          row.find("td.hide").show();
          $(this).text("완료");
        } else {
          // 서버로 변경 내용과 idx를 보낸다.
          // 페이지가 변경되면서 Query String으로 파라미터 전송
          // 주소/todoList/update?idx=2&title 수정
          row.find("td.show").show();
          row.find("td.hide").hide();
          $(this).text("수정");

          // let urlStr = `/todoList/update?idx=${idx}&&title=${title}`;
          // row.find("td.show").hide();
          // row.find("td.hide").show();
          // $(this).text("수정");
        }
      });
    </script>
  </body>
</html>
